PORT_TCP=3003
PORT_HTTP=3005
STRIPE_SECRET_KEY=sk_test_51Nkk1qSH24lL15ArMz3gZOe9YmFdaWVqxKg5fEr6KlvNlNwSZVQWMBUdzL4XaSpVH9D6Fb3j2shZUmejb4Ge350300GihpspTP
NOTIFICATIONS_HOST=notifications
NOTIFICATIONS_PORT=3004